@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

@layer base {
  html {
    @apply font-Arial;
    /* font-family: 'Times New Roman', Times, serif; */
  }
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  /* color: rgb(var(--foreground-rgb)); */
}

.custom-gap {
  gap: 15px;
}

.custom-gap-45 {
  gap: 45px;
}

.custom-gap-30 {
  gap: 30px;
}

.gnb_active {
  color: #f1547c;
}

.inner-container {
  position: relative;
  margin-inline: auto;
  max-width: 1200px;
  width: calc(100% - 1.875rem);
}

.inner-530 {
  position: relative;
  margin-inline: auto;
  max-width: 530px;
  width: calc(100% - 1.875rem);
}

.btn_on {
  border: 1px solid #252525;
  border-bottom: 0;
  color: #252525;
}

.my-6 {
  margin: 60px 0;
}

.color-25 {
  color: #252525;
}

.color-b {
  color: #bbb;
}

/* input[type="radio"] + label span:hover,
input[type="radio"] + label:hover span{
transform: scale(1.2);
}  */

input[type="radio"]:checked + label span {
  background-color: #252525;
  box-shadow: 0px 0px 0px 8px white inset;
}

input[type="radio"] + label {
  display: flex;
  align-items: center;
  text-wrap: nowrap;
}

input[type="radio"]:checked + label {
  color: #252525;
  display: flex;
  align-items: center;
}

.tox-tinymce {
  border-radius: 0 !important;
}

.App img {
  display: none;
}

.img_star {
  width: 18px;
  height: 18px;
  background-image: url("/start_ic.png");
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}

.img_star_none {
  width: 18px;
  height: 18px;
  background-image: url("/start_g_ic.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.swiper_two .swiper-wrapper {
  display: flex !important;
  justify-content: center !important;
}

/* .container-main {
  max-width: 1920px;
} */
.swiper-slide-thumb-active > div {
  border: 2px solid #ef426f;
}
@media (prefers-color-scheme: white) {
  html {
    color-scheme: white;
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: unset;
}
